body{
	margin:0;
	text-align:center;
	font-family: 'Merriweather', serif;
}
h1{
	font-family: 'Sacramento', cursive;
	margin:50px auto 0;
	font-size:5rem;
	color:#66BFBF;
}
h2{
	font-family: 'Montserrat', sans-serif;
	font-size:2.5rem;
	font-weight:normal;
	color:#66BFBF;
}
h3{
	font-family: 'Montserrat', sans-serif;
	color:#11999E;
}
p{
	line-height:2;
}
a{
	color:#000000;
	font-family:'Montserrat', sans-serif;
	margin:10px 20px;
	text-decoration:none;
}
a:hover{
	color:#fff;
}
.top-container{
	padding-top:100px;
	background-color:#E4F9F5;
}
.skill-row{
	margin:100px auto 100px auto;
	text-align:left;
	width:50%;
}
.skill-image{
	width:25%;
}
.skill1{
	float:left;
	margin-right:30px;
}
.skill2{
	float:right;
	margin-left:30px;
}
.profile-pic{
	width:200px;
}
.topCloud{
	width:150px;
	position:absolute;
	top:80px;
	right:280px;
}
.bottomCloud{
	width:150px;
	position:absolute;
	left:265px;
	bottom:265px;
}
.mountain{
	width:50%;
}

.middle-container{
	margin:100px 0;
}
.bottom-container{
	background-color:#66BFBF;
	padding:50px 0 20px;
}
.copyright{
	color:#EAF6F6;
	font-size:0.70rem;
	margin:30px auto 5px;
}
hr{
	color:#EAEAEA;
	width:6%;
	border-style:none none dotted;
	border-width:8px;
	margin:80px auto;
}
.intro{
	width:30%;
	margin:auto;
}

#contact-me button {
	padding: 0.2em 0.5em;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
  }
  
  #contact-me button:hover {
	background-color: #23c483;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateY(-7px);
  }
  
  #contact-me button:active {
	transform: translateY(-1px);
  }

.contact-messege{
	width:38%;
	margin:40px auto 60px;
}

.navbar{
	position: fixed;
	border-style: none;
	z-index: 1;
	box-shadow: 0 10px 20px 12px #e4f9f6, 0 5px 10px 10px #eff7f6 ;
}
.nav-link{
	font-family:'Montserrat', sans-serif;
	font-weight: 500;
	font-size: large;
	color:#005151;
}
.nav-link:hover{
	color:#000;
}
.navbar-nav{
	padding-left:977px;
}

nav{
	background-color:#e4f9f5 ;
	margin-right:0;
}